<div class="banner-home">
	<div class="banner-slider">
		<?php echo $block->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('bannerslider.phtml')->toHtml();?> 
	</div>
	<!--div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-sms-12">

			</div>
			<div class="col-md-4 col-sm-12 col-sms-12">
				<div class="onsale-slider">
					<?php //echo $block->getLayout()->createBlock('Plazathemes\Saleproductslider\Block\Saleproductslider')->setTemplate('saleproductslider.phtml')->toHtml();?> 
				</div>
			</div>
		</div>
	</div-->
</div>