<footer class="footer-static-container">
	<div class="footer-middle">
		<div class="container">
			<?php echo $this->getChildHtml('footer_static')?>
		</div>
	</div>
</footer>
<div class="ma-footer-container">
		<div class="container">
			<div class="footer">
				<div class="row">
						<?php echo $this->getChildHtml('footer_end')?>
				</div>
			</div>
		</div>
		<div id="back_top">
			<a href="#back-top"><span>>top</span></a>
		</div>
</div>
<script type="text/javascript">
	require(["jquery"], function(jQuery){
		jQuery(window).scroll(function() {	
			if(jQuery(this).scrollTop() > 300) {
				jQuery('#back_top').fadeIn();   
			} else {
				jQuery('#back_top').fadeOut();
			}
		});
		   jQuery('#back_top').click(function() {
			jQuery('body,html').animate({scrollTop:0},500);
		});
		if (jQuery(window).width() < 992) {   
			jQuery('.footer-static .footer-static-title').click(function(){     
				jQuery(this).parent('.f-col').toggleClass('active').siblings().removeClass('active'); 
				jQuery(this).next('.f-col .footer-static-content').toggle(300);
				jQuery(this).parent('.f-col.active').siblings().children('.f-col .footer-static-content').slideUp(300); 
			}); 
			 
		}
	});
</script>